@import 'nprogress/nprogress.css';
@import 'tailwindcss';
@import './themes.css';
@config '../../tailwind.config.ts';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    border: hsl(var(--border));
  }

  body {
    @apply min-h-screen border-border bg-background font-sans text-foreground;
  }
}
